* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 30px;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid tan;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
